:root {
	--color-primary: #08A6E4;
	/* Główny (color-primary)*/
	--color-primary-shadow: rgba(7, 172, 230, .16);
	/* Główny używany przy cieniach (color-primary-shadow)*/
	--color-redish: #FB3B64;
	--color-gren: #55DFB4;
	--color-black: #000000;
	--color-grey: #A5A5A5;
	--color-light-grey: #F7F7F7;
	--color-white: #FFFFFF;
}


body {
	/* height: 4234px; */
	width: 100vw;
}

header {
	width: 100%;
	position: sticky;
	top: 0;
	height: 70px;

	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	margin-bottom: 130px;
	background-color: var(--color-white);

}

.container {
	width: 1354px;
	margin-inline: 136px;


}

.sticky {

	min-height: 70px;


	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo {
	/* margin-left: 136px; */
	flex: 1 1 50%;
	color: var(--color-primary);
	font-size: 32px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	line-height: 37px;
	text-decoration: none;
	text-align: left;

	display: inline-block;
}

.sticky__nav {
	margin-right: 136px;
	flex: 1 1 50%;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: var(--color-grey);
	letter-spacing: 3.28px;
	display: flex;
	justify-content: space-between;
}

.sticky__nav a {
	line-height: 15px;
	text-decoration: none;
	position: relative;
}

.sticky__nav>a:hover {
	color: var(--color-black);
}

.sticky__nav>a:hover::after {
	content: "";
	position: absolute;
	left: -15%;
	bottom: -29.5px;
	width: 124%;
	height: 4px;
	background-color: var(--color-primary);

}

.opening {
	margin-bottom: 100px;
	margin-inline: auto;
	width: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.opening__text {
	background-image: url(/src/images/Background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 712px;
	width: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;

}

.opening__text .section--hdl {
	font-family: "Raleway", sans-serif;
	font-size: 49px;
	font-weight: 400;
	line-height: 57px;
	color: var(--color-black);
	margin-bottom: 20px;


}

.opening__text .section--p {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: var(--color-black);
	margin-bottom: 38px;

}

.btn__imitation {
	height: 67px;
	width: 440px;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
}

.section__link {
	font-family: "Open Sans", sans-serif;
	color: var(--color-white);
	font-weight: 700;
	text-decoration: none;
	text-align: left;
}

.opening .section__link {

	font-size: 16px;

	line-height: calc(22/16);


}

.section__third {
	margin-bottom: 122px;
	text-align: center;

	min-height: 531px;
	background-color: var(--color-white);
	margin-inline: auto;
	width: 100%;
	background-color: var(--color-white);
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: space-between; */

	/* row-gap: 100px; */

}

.section__third--h2 {
	margin-bottom: 100px;

	font-family: "Raleway", sans-serif;
	line-height: 42px;
	font-size: 36px;

	text-align: center;
	font-weight: 400;
	color: var(--color-black);
}

.third__content {
	width: 1354px;
	margin-inline: auto;
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	column-gap: 185px;
}

.color-circle {
	margin-bottom: 13px;
	width: 62.71px;
	height: 62.71px;
	background-color: orange;
	border-radius: 50%;
	position: relative;

}

.content--img {
	position: absolute;

}

.section__third__content__div1--image {
	top: 10%;
	right: -20%;
}

.section__third__content__div2--image {
	top: 25%;
	right: -32%;
}

.section__third__content__div3--image {
	top: 10%;
	right: -33%;
}

.section__third--p-large {
	margin-bottom: 19px;
	line-height: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	letter-spacing: 6px;
	text-align: center;
	font-weight: 800;
	color: var(--color-black);
}

.section__third--p-small {
	line-height: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 17px;
	text-align: center;
	font-weight: 400;
	color: var(--color-grey);
}

.benefity {
	min-width: 100%;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	background-color: gray;
	row-gap: 37px;
	/*var(--color-light-grey);*/
	/* row-gap: 37px; */

}



.center__content {
	width: 1124px;
	height: 370px;
	background-color: var(--color-white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #E8E9ED;
	border-radius: 5px;
}

.div1 {
	margin-top: 105px;
}

.div3__trumpet {
	margin-bottom: 105px;
}

.benefity--h2 {

	font-family: "Raleway", sans-serif;
	line-height: calc(36/42);
	margin-bottom: 30px;
	font-size: 36px;
	text-align: left;
	font-weight: 400;
	color: var(--color-black);
}

.benefity--p {
	text-align: left;
	font-family: "Open Sans", sans-serif;
	line-height: calc(22/16);

	font-size: 16px;
	text-align: left;
	font-weight: 400;
	color: var(--color-black);
	position: relative;


}

.benefity--p::before {
	position: absolute;
	bottom: -62px;
	display: inline-block;
	content: "";
	width: 328px;
	height: 4px;
	border-radius: 4px;
	/* background-color: red; */
}

.macboock>.benefity--p::before {
	background-color: var(--color-redish);
}

.iphone>.benefity--p::before {
	background-color: var(--color-primary);
}

.trumpet>.benefity--p::before {
	background-color: var(--color-gren);
}



.benefity__content--text {
	/* display: flex; */
	/* margin-inline: 35px; */
}

.benefity__content-img {
	position: absolute;
}

.benefity__content-div {
	position: absolute;
	display: inline-block;
	z-index: 1;
}

.benefity__content-img {
	position: relative;
	z-index: 2;
}

.benefity__content--img {
	position: relative;
}

.benefity__content-img.macbook-img {
	width: 386px;
	height: 219px;
	/* position: relative; */
}

.benefity__content-div.macboock-bg {
	width: 190px;
	height: 190px;
	background-color: var(--color-redish);
	transform: rotate(45deg);
	border-radius: 41px;
	left: 56%;
	bottom: 25%;
}

.benefity__content--img.iphone__block {
	order: -1;
	left: 70px;
}

.benefity__content-img.iphone-img {
	width: 426px;
	height: 328px;
	bottom: -26px;
}

.benefity__content-div.iphone-bg {
	width: 320px;
	height: 320px;
	background-color: var(--color-primary);
	border-radius: 50%;
	left: 0px;
	bottom: 0px;
}

.benefity__content-img.iphone-img {
	width: 426px;
	height: 328px;
	bottom: -26px;
}

.center__content.div3__trumpet {
	column-gap: 61px;
}

.benefity__content--img.trumpet__block {
	left: -112px;
	bottom: -81px;
}

.benefity__content-img.trumpet-img {
	width: 296px;
	height: 208px;
	left: 88px;
	bottom: 58px;
}

.benefity__content-div.trumpet-bg {
	width: 441px;
	height: 371px;
	background-color: var(--color-gren);
	transform: rotate(0);
	border-radius: 5px;
	bottom: 0px;
	left: 0px;
}

.pricing--h2 {
	text-align: center;
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	line-height: calc(42/36);
	margin-inline: auto;
	margin-bottom: 50px;
}

.pricing__container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 60px;
}

.container__item {
	background-color: var(--color-white);
	border-radius: 18px;
	border-width: 1px;
	border-style: solid;
	width: 372px;
	height: 461px;
	position: relative;
	/* border-color: var(--color-redish); */
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between; */
}

.container__item.item-1 {
	border-color: var(--color-redish);

}

.container__item.item-2 {
	border-color: var(--color-primary);
	width: 405px;
	height: 500px;
	/* position: relative; */

}

.container__item.item-3 {
	border-color: var(--color-gren);
	/* position: relative; */

}

.container__item--h4 {
	margin-top: 34px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;


}

.container__item--h3 {
	margin-top: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 46px;
	text-align: center;
}

.container__item.item-1>.container__item--h3 {
	color: var(--color-redish);
	margin-bottom: 69px;
}

.container__item.item-2>.container__item--h3 {
	color: var(--color-primary);
}

.container__item.item-3>.container__item--h3 {
	color: var(--color-gren);
}


/* .container__item--h3::before {
	content: "Limited offer";
	display: inline-block;
	position: absolute;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	color: var(--color-black);
	left: 147px;
	top: 124px;
} */

/* .container__item.item-1>.container__item--h3::before {
	content: "";
	display: inline-block;
	position: absolute;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	color: var(--color-black);
	left: 147px;
	bottom: 306px;
} */
.container__item--p {
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: var(--color-black);
	margin-block: 5px 60px;
}


.pricing__list {
	margin-bottom: 79px;
	text-align: center;
	/* list-style-position: inside; */

}

.pricing__list>.pricing__list--item {

	/* margin-bottom: 25px; */
	list-style-position: inside;

	list-style-image: url('/src/images/Checkmark.svg');
	/* position: relative; */

	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: calc(44/14);
}



.pricing__list--item::before {

	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid var(--color-gren);

	position: relative;
	left: -21px;
}

.pricing__list>.pricing__list--item.red-li {
	list-style-image: none;

}

.pricing__list--item.red-li::before {

	content: "X";
	font-family: "Raleway", sans-serif;
	font-size: 9px;
	text-align: center;
	line-height: calc(10/9);
	color: var(--color-redish);
	font-weight: 700;
	border: 1px solid var(--color-redish);

}





.container__item>.btn__imitation {
	width: 150px;
	height: 50px;
	margin-inline: auto;
	position: absolute;
	position: absolute;
	bottom: -6%;
	left: 32%;

}

.section__link.pricing {
	font-size: 13px;
	line-height: calc(41/13);
}